/* Utility Classes */

/* Display and Flexbox */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Position */
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.w-90 {
  width: 90%;
}

.w-260 {
  width: 260px;
}

.h-100 {
  height: 100%;
}

.h-260 {
  height: 260px;
}

/* Margin & Padding */
.m-0 {
  margin: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.m-auto {
  margin: 0 auto;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-25 {
  padding: 25px;
}
.p-40 {
  padding: 0 40px;
}

.p-85-25-20 {
  padding: 85px 25px 20px;
}

.pt-0 {
  padding-top: 0;
}

/* Typography */
.text-center {
  text-align: center;
}

.font-roboto {
  font-family: var(--Roboto-font);
}

.font-poppins {
  font-family: var(--Poppinsin-font);
}

.font-heading {
  font-family: var(--Heading-font);
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-40 {
  font-size: 40px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.line-height-1-8 {
  line-height: 1.8;
}

/* Colors */
.text-primary {
  color: rgb(var(--h1-color));
}

.text-body {
  color: rgb(var(--p-color));
}

.bg-primary {
  background-color: rgb(var(--h1-color));
}

.bg-light {
  background-color: rgb(var(--bg-color));
}

.bg-lighter {
  background-color: rgb(var(--bg2-color));
}

/* Borders & Radius */
.rounded {
  border-radius: var(--border-radius);
}

.rounded-full {
  border-radius: 50%;
}

/* Shadows */
.standard-shadow {
  box-shadow: var(--standard-shadow);
}

.hover-shadow {
  box-shadow: var(--hover-shadow);
}

.border-bottom-h1 {
  border-bottom: 4px solid rgb(var(--h1-color));
}

/* Z-index */
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-1000 {
  z-index: 1000;
}

/* Overflow */
.overflow-hidden {
  overflow: hidden;
}

/* Opacity */
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.rtl {
  flex-direction: row;
  direction: rtl;
  text-align: right;
}

.ltr {
  flex-direction: row-reverse;
  direction: rtl;
  text-align: left;
}
