/* start-global-roles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all var(--trans-time) !important;
  -webkit-transition: all var(--trans-time) !important;
  -moz-transition: all var(--trans-time) !important;
  -ms-transition: all var(--trans-time) !important;
  -o-transition: all var(--trans-time) !important;
  -webkit-tap-highlight-color: transparent;
}

:where(
    body,
    div,
    section,
    header,
    footer,
    article,
    aside,
    main,
    nav,
    ul,
    li,
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    button
  ) {
  transition: background-color 0.3s ease, color 0.3s ease;
  will-change: background-color, color;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background-color: rgb(var(--bg2-color));
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

div section:not(:nth-of-type(1)),
.contact {
  padding: 0 0 var(--section-spacing);
}

::selection {
  background: rgb(var(--h1-color));
  color: rgb(var(--bg-color));
}

img::selection {
  background: transparent;
}
/* end-global-roles */

/* للمتصفحات التي تدعم WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  /* width: 10px; */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--p-color));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--p-color), 0.8);
}

/* للمتصفحات التي تدعم Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--p-color)) rgba(0, 0, 0, 0.1);
}
