/* start-global-roles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
p,
span,
img,
a,
i,
li,
ul,
section,
div,
footer {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, margin 0.3s ease, padding 0.3s ease,
    text-shadow 0.3s ease, opacity 0.3s ease   !important;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease,
    padding 0.3s ease !important;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease,
    padding 0.3s ease !important;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease,
    padding 0.3s ease !important;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease,
    padding 0.3s ease !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background-color: rgb(var(--bg2-color));
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

div section:not(:nth-of-type(1)),
.contact {
  padding: 0 0 var(--section-spacing);
}

::selection {
  background: rgb(var(--h1-color));
  color: rgb(var(--bg-color));
}

img::selection {
  background: transparent;
}
/* end-global-roles */

/* للمتصفحات التي تدعم WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  /* width: 10px; */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--p-color));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--p-color), 0.8);
}

/* للمتصفحات التي تدعم Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--p-color)) rgba(0, 0, 0, 0.1);
}
