/* start-contact */

.contact .contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.contact .contact-item {
  top: 0;
  background-color: rgb(var(--bg-color));
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 767px) {
  .contact .contact-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* end-contact */
