/* Experience Section */

.experience .experience-item {
  padding-left: 150px;
}

.experience .experience-item .title {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
}

.experience .experience-item .title::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(var(--h1-color));
  left: -45px;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: var(--standard-shadow);
  transform-origin: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.sub-title {
  font-size: 12px;
  text-transform: capitalize;
  color: rgba(var(--p-color), 0.7);
}
.experience .reached-p::before {
  animation: h-before 0.5s cubic-bezier(0.4, 0.05, 0.34, 1.1) forwards;
  -webkit-animation: h-before 0.5s cubic-bezier(0.4, 0.05, 0.34, 1.1) forwards;
}

@keyframes h-before {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  60% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.experience .experience-item .title div {
  position: absolute;
  width: fit-content;
  background-color: rgb(var(--bg2-color));
  left: -100px;
  top: -3px;
  transform: scale(0) translatez(0);
  -webkit-transform: scale(0) translatez(0);
  -moz-transform: scale(0) translatez(0);
  -ms-transform: scale(0) translatez(0);
  -o-transform: scale(0) translatez(0);
  transform-origin: right;
  box-shadow: var(--standard-shadow),
    3px 0px 25px 0px rgba(var(--h1-color), 0.3);
  padding: 16px 16px 16px 30px;
}

.experience .experience-item .text div::before {
  content: var(--date);
  position: absolute;
  top: 50%;
  left: 58%;
  font-size: 18px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.experience .experience-item .text div::after {
  content: "";
  position: absolute;
  border: 16px solid transparent;
  border-left: 16px solid rgb(var(--bg2-color));
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.experience .reached-p div {
  animation: h-after 0.6s cubic-bezier(0.4, 0.05, 0.34, 1.1) forwards;
  -webkit-animation: h-after 0.6s cubic-bezier(0.4, 0.05, 0.34, 1.1) forwards;
}

@keyframes h-after {
  0% {
    transform: scale(0) translatez(0);
    -webkit-transform: scale(0) translatez(0);
    -moz-transform: scale(0) translatez(0);
    -ms-transform: scale(0) translatez(0);
    -o-transform: scale(0) translatez(0);
    left: -100px;
  }
  60% {
    transform: scale(1) translateZ(50px);
    -webkit-transform: scale(1) translateZ(50px);
    -moz-transform: scale(1) translateZ(50px);
    -ms-transform: scale(1) translateZ(50px);
    -o-transform: scale(1) translateZ(50px);
    left: -110px;
  }
  100% {
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    left: -120px;
    transform-origin: center;
  }
}

.experience .experience-item ul {
  color: rgba(var(--p-color), 0.8);
  list-style: disc;
  padding-left: 20px;
}

.experience .experience-item ul li::marker {
  color: rgb(var(--h1-color));
  font-size: 25px;
}

.experience .experience-item ul::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgb(var(--p-color));
  left: -34px;
  top: 0;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
}

.experience .reached-p + ul::before {
  animation: p-before 1s cubic-bezier(0.4, 0.05, 0.34, 1.1) forwards;
  -webkit-animation: p-before 1s cubic-bezier(0.4, 0.05, 0.34, 1.1) forwards;
}

.experience ul li {
  position: relative;
  left: -45px;
  opacity: 0;
  transition: all 1.2s;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  margin-bottom: 5px;
}

.experience .reached-p + ul li {
  left: 0px;
  opacity: 1;
}

@keyframes p-before {
  0% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

@media (max-width: 992px) {
  .experience .container {
    padding-right: 10px;
  }

  .experience .experience-item {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .experience .experience-item {
    padding-left: 60px;
  }

  @keyframes h-after {
    100% {
      left: -100px !important;
      top: 2px;
      transform-origin: 23px 16px;
      transform: scale(1) translateZ(0px);
    }
  }
  .experience .experience-item .title div {
    padding: 11px 10px 10px 30px;
    left: -90px;
  }

  .experience .experience-item .title::before {
    left: -36px;
  }

  .experience .experience-item .title div::before {
    font-size: 13px;
  }
  .experience .experience-item .title div::after {
    border: 10.4px solid transparent;
    border-left: 10.4px solid rgb(var(--bg2-color));
    right: -21px;
    top: 49%;
  }
  .experience .experience-item .title {
    font-size: 16px;
  }

  .experience .experience-item ul::before {
    left: -25px;
  }

  .experience .experience-item ul {
    padding-left: 0;
    font-size: 14px;
    list-style: none;
  }
}
/* end-experience */

.v-experience {
  background-color: rgb(var(--bg2-color));
}
