/* start-skills */

.skills {
  padding: 50px 0 !important;
}
.skills .skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  gap: 0 40px;
  justify-content: center;
  top: 20px;
  opacity: 0;
}

.skills .skill {
  width: 116px;
  font-family: var(--Poppinsin-font);
  font-size: 14px;
  color: rgb(var(--p-color));
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background-color: rgb(var(--bg-color));
}

.skills .skill:hover {
  background-color: rgba(var(--h1-color), 0.05);
  box-shadow: var(--standard-shadow);
}

.skills .skill svg,
.skills .skill img {
  margin-bottom: 10px;
  width: 50px;
}

.whisk {
  background: #ffb1ee;
  padding: 5px;
  border-radius: 10px;
}

.skills .skill img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.skills .skill span {
  text-align: center;
}
/* end-skills */
