/* Designs Page Styles */

.img-container {
  background-image: linear-gradient(
    180deg,
    rgba(var(--p-color), 1) 18%,
    transparent 100%
  );
}

.img-container .d-name {
  top: 100px;
  padding: 0 20px;
  font-size: 40px;
  -webkit-text-stroke: 0.6px var(--bg2-color);
  font-family: var(--Dancing-script);
  color: rgb(var(--bg2-color));
  display: block;
  text-align: center;
}

.design-card img {
  width: 100%;
  aspect-ratio: 1/1;
}

/* Main Showcase Section */
.designs-showcase {
  padding: 120px 0;
  min-height: calc(100vh - 56px);
}

/* Designs List Grid */
.designs-list {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px 25px;
  perspective: 1000px;
  margin-top: 40px;
  opacity: 0;
}

/* Design Item Styles */

.design-item.hidden {
  display: none;
}
/* Campaign indicator */
.campaign-indicator {
  background-color: rgb(var(--h1-color));
  right: 15px;
  color: white;
  font-family: var(--Poppinsin-font);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 2;
}

.campaign-indicator.company {
  top: 15px;
}
.campaign-indicator.isCampaign {
  top: 42px;
}

/* Campaign Controls */
.campaign-controls {
  margin-top: 20px;
  align-items: center;
  display: none;
  color: rgb(var(--p-color));
}

.campaign-controls.active {
  display: flex;
}

.nav-btn {
  color: rgb(var(--p-color));
  background: rgb(var(--bg-color));
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--standard-shadow);
  transition: all var(--trans-time);
}

.nav-btn:hover {
  background: rgb(var(--h1-color));
  color: rgb(var(--bg-color));
}

.slide-indicator {
  font-size: 14px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .designs-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .designs-showcase {
    padding-top: 120px;
  }

  .designs-filters {
    justify-content: center;
  }

  .lightbox-content {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .designs-list {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter-btn {
    font-size: 12px;
    padding: 6px 15px;
  }
}
